.post::-webkit-scrollbar { 
    display: none; 
}

.post{
    position:absolute;
    width: 20%;
    height: 50%;
    margin-top:25vh;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 350;
    border-radius:10%;
    overflow-Y:scroll;
}